$window-header-height: 38px;
$window-header-padding: 10px;

.window {
  z-index: 9;
  background-color: #e5eaff;
  color: black;
  min-height: 150px;
  overflow: hidden;
  display: none;
  min-width: 300px;
  min-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  grid-template-rows: 38px auto 25px;
}

.fullscreen-window {
  width: 100vw;
  height: calc(100vh - 50px);
  top: 0;
  left: 0;
}

.WindowHeaderIcon {
  transition: 200ms;
  background-color: transparent;
  cursor: default;
  border-radius: 0;
  // color: black;
  padding: 0;
  width: $window-header-height + $window-header-padding + 5px;
  height: $window-header-height + $window-header-padding - 10px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.WindowHeaderIcon:hover {
  // filter: contrast(2);
  background-color: rgba(255, 255, 255, 0.1);
  // background-color: #191932;
}

.WindowHeaderIcon img {
  width: 40%;
  height: 40%;
  object-fit: contain;
  filter: invert(1);
}

.WindowHeaderIconResize {
  position: relative;
  overflow: visible;
}

.WindowHeaderIconResize:active {
  transform: scale(1);
}

.WindowHeaderIconResizeImageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WindowHeaderIconResizeImageContainer img {
  height: 40%;
  object-fit: contain;
}

.WindowHeaderIconResizeBridge {
  display: none;
  position: absolute;
  width: 13rem;
  height: 2rem;
  top: 2.35rem;
  right: -3rem;
}

.WindowHeaderIconResize:hover .WindowHeaderIconResizeBridge {
  display: grid;
}

.WindowHeaderIconResizeBox {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-gap: 1rem 1rem;

  position: absolute;
  width: 15rem;
  height: 9rem;
  padding: 0.8rem;
  top: 2.8rem;
  right: -3rem;
  background-color: #191919;
  border: 1px solid #444;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.6s;
}

.WindowHeaderIconResize:hover .WindowHeaderIconResizeBox {
  visibility: visible;
  opacity: 1;
}

.WindowHeaderIconResizeBoxOption {
  grid-gap: 0.35rem 0.35rem;
}

.WindowHeaderIconResizeBoxOption div {
  border: 1px solid #888;
  background-color: #333;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s;
}

.WindowHeaderIconResizeBoxOption div:hover {
  background-color: #4cc2ff;
}

.WindowHeaderIconResizeBoxOption1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.WindowHeaderIconResizeBoxOption1-1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.WindowHeaderIconResizeBoxOption1-2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.WindowHeaderIconResizeBoxOption2 {
  display: grid;
  grid-template-columns: 60% auto;
  // background-color: red;
}

.WindowHeaderIconResizeBoxOption2-1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.WindowHeaderIconResizeBoxOption2-2 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.WindowHeaderIconResizeBoxOption3 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  // background-color: red;
}

.WindowHeaderIconResizeBoxOption3-1 {
  grid-row: 1/3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.WindowHeaderIconResizeBoxOption3-2 {
  border-top-right-radius: 5px;
}
.WindowHeaderIconResizeBoxOption3-3 {
  border-bottom-right-radius: 5px;
}

.WindowHeaderIconResizeBoxOption4 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.WindowHeaderIconResizeBoxOption4-1 {
  border-top-left-radius: 5px;
}
.WindowHeaderIconResizeBoxOption4-2 {
  border-top-right-radius: 5px;
}
.WindowHeaderIconResizeBoxOption4-3 {
  border-bottom-left-radius: 5px;
}
.WindowHeaderIconResizeBoxOption4-4 {
  border-bottom-right-radius: 5px;
}

.WindowHeaderIconClose img {
  width: 50%;
  height: 50%;
}

.WindowHeaderIconClose:hover {
  background-color: red;
}

.WindowHeaderIconClose:hover img {
  filter: invert(0);
}

.window-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.window-footer {
  background-color: #1c1c1c;
}

/*Drgable */
.window {
  border-radius: 8px;
  position: fixed;
}

.window-header {
  height: 100%; //  $window-header-height;
  display: flex;
  align-items: center;
  // padding: $window-header-padding;
  z-index: 10;
  background: #202020;
  color: #fff;
}

.window-header-logo {
  margin-left: 12px;
  height: 45%;
}

.window-header-text {
  margin-left: 8px;
  margin-right: auto;
}

/*Resizeable*/

.window .resizer-right {
  width: 5px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}

.window .resizer-bottom {
  width: 100%;
  height: 5px;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}

.window .resizer-both {
  width: 5px;
  height: 5px;
  background: transparent;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

/*NOSELECT*/

.window * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
}
